.background {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  background: #f6f6f6;
  margin: 22px;
}

.card {
  border-radius: 15px;
  position: relative;
  height: 300px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5158438375350141) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 15px;
    z-index: 1;
  }
  img {
    object-fit: cover;
    width: 320px;
    border-radius: 15px;
    // filter: brightness(60%);
    display: block;
    height: 300px;
    position: relative;
  }
}

.title-logement {
  color: #fff;
  font-weight: 500;
  font-family: Montserrat;
  font-size: 18px;
  display: flex;
  padding: 8px;
  z-index: 2;
}
.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: white;

  // Ajoutez d'autres styles comme l'arrière-plan semi-transparent si nécessaire
}

@media (max-width: 759px) {
  .background {
    background: white;
  }
  .card {
    border-radius: 15px;
    position: relative;
    height: 255px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      border-radius: 15px;
      z-index: 1;
    }
    img {
      object-fit: cover;
      width: 320px;
      border-radius: 15px;
      // filter: brightness(60%);
      display: block;
      height: 255px;
      position: relative;
    }
  }
}
