.logement-global {
  display: flex;
  flex-direction: column;
  padding: 0px 53px 25px 53px;
}

.logement-container {
  padding: 30px 0px 0px 0px;

  .logement-title {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;

    font-weight: 500;
  }
  .logement-location {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .tag-content {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .tag {
      border-radius: 10px;
      background: #ff6060;
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      padding: 4px 8px;
      min-width: 84px;
    }
  }
  .box-first {
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      color: #ff6060;
      gap: 10px;
      text-align: right;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
    .host img {
      border-radius: 70px;
      width: 78px;
      height: 78px;
    }
  }
  .box-second {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 24px 0px;
  }

  .box-third {
    display: flex;
    gap: 20px;
    .collapse {
      width: 50%;
    }
  }
}
.star {
  display: flex;
  flex-direction: row;
  gap: 15px;

  span img {
    width: 30px;
  }
}

// .starmedia {
//   display: none;
// }
.host {
  display: none;
}

@media (max-width: 659px) {
  .logement-global {
    display: flex;

    padding: 0px 19px 25px 19px;
  }
  .logement-container {
    display: flex;
    flex-direction: column;

    .logement-title {
      font-size: 18px;
      p {
        font-size: 14px;
      }
    }
    .box-first {
      .host {
        display: none;
      }
    }
    .box-second {
      order: 1;
      flex-direction: column;
    }
    .star {
      position: relative;
      bottom: -47px;
      gap: 7px;
      span img {
        width: 20px;
      }
    }
    .tag-content {
      margin-top: 10px;
      flex-wrap: wrap;

      .tag {
        font-size: 10px;
      }
    }
  }

  .media {
    display: flex;
    align-items: center;
    /* gap: 197px; */
    justify-content: space-between;
    order: 2;
    .host {
      img {
        border-radius: 25px;
      }
    }
    .starmedia {
      display: flex;
    }
    .host {
      display: flex;
      font-size: 12px;
      font-family: Montserrat, sans-serif;
      color: #ff6060;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  // .star {
  //   display: none;
  // }
  .box-third {
    margin-top: 10px; /* Ajuster selon les besoins */
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 3;
    .titleCollapse {
      font-size: 13px;
    }
  }
}
