.logement-global {
  display: flex;
  flex-direction: column;
  padding: 0px 53px 25px 53px;
}

.logement-container {
  padding: 30px 0px 0px 0px;
  .logement-title {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
  }
  .logement-location {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
  .tag-content {
    display: flex;
    gap: 10px;

    .tag {
      border-radius: 10px;
      background: #ff6060;
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      padding: 4px 8px;
      min-width: 84px;
    }
  }
  .box-first {
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      color: #ff6060;

      text-align: right;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
    .host img {
      border-radius: 70px;
      width: 78px;
      height: 78px;
    }
  }
  .box-second {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 24px 0px;
  }

  .box-third {
    display: flex;
    gap: 5px;
  }
}
