.logement-container {
  .logement-title {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
  }
  .logement-location {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }
}
