.footer-content {
  background: black;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;

  .footer-text {
    color: white;
    display: flex;
  }
}
